@import url('https://fonts.googleapis.com/css?family=PT+Mono:400,400i|PT+Serif:400,400i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'PT Mono', monospace;
    line-height: 1.5;
    background: linear-gradient(cornflowerblue, darkslateblue), blue;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.container {
    max-width: 50rem;
    width: 95%;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 1rem 1rem 0.1rem rgba(25, 25, 50);
    background: #efe;
}

header.container {
    background: peachpuff;
}
header h1 {
    margin: 0;
}
header.container h1::before {
    display: none;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 1.5rem;
}

section {
    position: relative;
}

h1 {
    font-family: "PT Serif", serif;
    text-transform: capitalize;
}
h1::before {
    content: "#";
    position: absolute;
    left: 1.5rem;
}

header h2 {
    font-size: 1rem;
    font-style: italic;
}

li {
    list-style: none;
}
li::before {
    content: "-";
    position: absolute;
    left: 1.5rem;
}

p,ul {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}
p:not(:first-of-type) {
    text-indent: 5rem;
}

a:link {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
    padding: 0 0.25rem;
}

a:visited {
    color: inherit;
    border-bottom: 1px dashed;
}

a:hover {
    background: darkslateblue;
    color: white;
    padding-top: 0.5rem;
    position: relative;
    z-index: 100;
}

.top-bar {
    width: 100%;
    color: #efe;
    text-align: center;
    margin-top: 1rem;
}

.top-bar a:hover {
    text-transform: uppercase;
}

.top-bar a::before {
    content: "+";
}

.top-bar a:last-child::after {
    content: "+";
}
