<section id='about' class='container'>
<header><h1>About</h1></header>
<p>
    The Fediverse has some good writers in it.
    But due to the distributed nature of Mastodon, etc.
    (not to mention the IndieWeb!),
    it can be hard to find friends with the same interests.
    So
    <a href="https://twitter.com/TatianaTMac/status/1114388079630929926">
        Tatiana Mac</a> thought, <q>Let's bring back webrings!</q>,
    and <a href="https://www.sonniesedge.net/posts/webrings">other</a>
    <a href="https://bryanlrobinson.com/blog/2019/02/07/bring-fansites-back-to-the-web/">folks</a>
    wrote about getting them back,
    and someone even made a
    <a href="https://mxb.dev/blog/webring-kit/">Webring Kit</a>
    to make it just about idiot-proof to set one up.
</p>
<p>
    We thought all of this was just great,
    but turns, out, we (by which I mean <a href="https://www.acdw.net">I</a>)
    were the better idiots that couldn't understand how the Kit worked.
    So we decided to build a different one with Flask.
    (The source code is
    <a href="https://github.com/duckwork/nethoop">here</a>.)
</p>
</section>
