{% extends "index.html" %}

{% block title %}Code of Conduct{% endblock %}

{% block content %}
<header class="container">
    <h1>Code of content</h1>
</header>
<section id="preamble" class="container">
    <header><a href="#preamble"><h1>Preamble</h1></a></header>
    <p>
        A good number of projects now have expressly-written
        Codes of Conduct,
        which are community-agreed-upon terms of engagement
        to minimize harrassing and trolling on those platforms.
        The <em>{{ title }}</em> webring,
        being not in control, really, of its members' conduct,
        instead has a code of <em>content</em>
        that dictates what is and is not acceptable on members' pages.
    </p>
    <p>
        Members of this webring agree to follow this code of content
        to enable everyone to have a safe and fun webring.
        No one should have to link to any content that makes them feel
        unsafe or <em>less-than</em>.
        That is the purpose of this code of content.
    </p>
</section>
<section id="acceptable-content" class="container">
    <header><a href="#acceptable-content"><h1>Acceptable content</h1></a></header>
    <p>
        Any content is acceptable that is not unacceptable.
        Really &mdash; diverse people are important for diverse thinking,
        and diverse thinking is important for strong communities.
        We're excited to read it all!
    </p>
</section>
<section id="unacceptable-content" class="container">
    <header><a href="#unacceptable-content"><h1>Unacceptable content</h1></a></header>
    <p>
        Content that is
        racist,
        homophobic,
        transphobic,
        xenophobic,
        or
        misogynistic;
        or that disparages any person or group based on their
        gender,
        gender identity and expression,
        sexual orientation,
        disability,
        physical appearance,
        race,
        religion,
        or other protected statuses;
        or that is used to harass other members of this webring
        is unacceptable.
    </p>
    <p>
        Members will not have content meeting these criteria
        on their own pages, and agree to place
        <a href="https://en.wikipedia.org/wiki/Content_warning">
            Content Warnings</a> or
        <a href="https://en.wikipedia.org/wiki/Browse_wrap">Browsewraps</a>
        around links to offensive content on other pages.
        Basically, we agree to keep the <em>{{ title }}</em>
        as safe a space as possible for the unwitting Internet traveler.
    </p>
</section>
<section id="reporting" class="container">
    <header><a href="#reporting"><h1>Reporting</h1></a></header>
    <p>
        If you see a membersite of this webring
        that contains
        <a href="#unacceptable-content">unacceptable content</a>,
        please email the admin at
        <a href="mailto:ring@acdw.net">
            code-of-content [at] ring [dot] acdw [dot] net</a>
        with the name of the offending site and what offends.
    </p>
</section>
<section id="consequences" class="container">
    <header><a href="#consequences"><h1>Consequences</h1></a></header>
    <p>
        Consequences of not following this code of content are few.
        They include the following:
        <ul>
            <li>Asking the member to place the offensive content behind
                a Content Warning or Browsewrap</li>
            <li>Removing the member from the webring</li>
        </ul>
    </p>
    <p>
        If you feel you have been removed or censured unjustly,
        email the above address with your complaint.
        We'll adjudicate it as best we can.
    </p>
</section>
<section id="todo" class="container">
    <header><a href="#todo"><h1>Still to do</h1></a></header>
    <p>
        This document isn't perfect.
        But it is open to revision from the community.
        If you've got suggestions on how to improve the Code of Content,
        please <a href="mailto:ring@acdw.net">email</a>
        or <a href="https://writing.exchange/@acdw">toot</a> the admin
        with your suggestion.
        So far, we need to
        <ul>
            <li>define each term in
                <a href="#unacceptable-content">Unacceptable content</a></li>
            <li>decide on ownership/administraton rights of
                <em>{{ title }}</em></li>
            <li>figure out moderation and appeals processes</li>
        </ul>
    </p>
    <p>
        <em>(A lot of this discussion has been going on under
        <a href="https://writing.exchange/web/statuses/102102077020027350">
            this thread</a> over at writing.exchange.
        Feel free to ping me there.)</em>
    </p>
</section>
<section id="changes" class="container">
    <header><a href="#changes"><h1>Changes</h1></a></header>
    <p>
        This is a living document.
        In the interest of transparency,
        you can see the history of its revisions
        <a href="https://github.com/duckwork/nethoop/commits/master/templates/code-of-content.html">
            at the Github repo for this webring.</a>
        You can also submit a
        <a href="https://github.com/duckwork/nethoop/pull/new/master">
            pull request</a> with suggested changes.
    </p>
</section>
{% endblock %}
