<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-US">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="container">
        <h1>{{ title }}</h1>
        <h2>v. {{ version }}</h2>
    </header>
    <main role="main" class="container">
    <section id="members">
        <h1>Members</h1>
        <ul>
            {% for m in members %}
            <li><a href="{{ m.href }}">{{ m.name }}</a>
                (<a href="{{ m.feed }}">feed</a>)
            </li>
            {% endfor %}
        </ul>
    </section>
    </main>
</body>
</html>
