<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-US">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="container">
        <h1>{{ title }}</h1>
        <h2>v. {{ version }}</h2>
    </header>
    {% include "members.html" ignore missing %}
    {% include "about.html" ignore missing %}
    {% include "join.html" ignore missing %}
</body>
</html>
