<section id="members" class="container">
    <header><h1>Members</h1>
        <h2><a href="{{ url_for("feeds_xml") }}">
            all feeds</a></h2>
    </header>
    <dl>
        {% for m in members %}
        <dt><a href="{{ m.href }}">{{ m.name }}</a>
        <span class="icons">
            {% if m.feed %}
            <a class="icon" href="{{ m.feed }}">
                <img src="/static/rss.png" alt="RSS" /></a>
            {% endif %}
            {% if m.fedi %}
            <a class="icon" href="{{ m.fedi }}">
                <img src="/static/mastodon.png" alt="Mastodon" /></a>
            {% endif %}
        </span>
        </dt>
        <dd>{{ m.desc }}</dd>
        {% endfor %}
    </dl>
</section>
